@import url('https://rsms.me/inter/inter.css');


*{
	
	margin:0;
	padding:0;
	font-family: 'Inter', sans-serif; 


}

body{

	background:#663399;
}



.title{
	
	margin-top:56px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;

}

.formulario{
	
	   display: flex; 
	   flex-direction:column;
      -webkit-transition: width 0.7s ease-out;
      transition: width 0.7s ease-out;

}

.formulario h1{
	
	color:#ffffff;
	font-size:36px;
	font-weight:bold;

}


.color{
	

	width:100%;
	height:100%;
	background-color:#F2F2F2;
	margin-top:32px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}


.formulario .header{

	background:#2F3676;
	height:200px;
	max-width:550px;
	border-radius:0px 0px 60% 40%;
	overflow: hidden;

}


.header-content{
	
	margin-top:20px;
	margin-left:30px;



}


.header-content .header-text{

	color:#FFFFFF;
	font-size:23px;
	margin-top:5px;



}

.header-content  .header-textFinal{

	color:#FFFFFF;
	font-size:23px;
	font-weight:bold;
	margin-top:10px;

}

.header-content .logo-content{

	margin-left:300px;
	margin-top:-22%;



}

.header-content .logo{

	position: absolute;
	width: auto !important;
	overflow:hidden;

}

.content-body{

	width:550px;	
	height:550px;
	background:#F2F2F2;

}

.content-body .select-box{

	margin-left:33px;
	padding-top:53px;

}


#checkboxes{
  background-color:#fff;
  min-height:200px;
  padding:10px;
  margin-top:20px;
}


.checkbox{
  margin:20px;
  font-family: 'Inter', sans-serif; 
  font-size:14px;

}

.checkbox label {
  min-height: 21px;
  padding-left: 20px;
  margin-bottom: 0;
  cursor: pointer;
  line-height:22px;
}


.c-checkbox span {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-left: -20px;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid #ccc;
  text-align: center;
}

.c-checkbox span:hover {
 
 	background: #191847;
}

.c-checkbox span:before{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  text-align: center !important;
  font-size: 12px;
  line-height: 18px;
  vertical-align: middle;
}

.c-checkbox input[type=checkbox]{
  position:absolute;
  margin: 4px 0 0;
  opacity:0;
}

.c-checkbox input[type=checkbox]:checked {
color: #fff;
transition: color 0.3s ease-out;
}

.c-checkbox input[type=checkbox]:checked + span{
border-color: #2F3676;;
background-color: #2F3676;;
}

.c-checkbox input[type=checkbox]:checked + span:before{
  	color: #fff;
	opacity: 1;
	transition: color 0.3s ease-out;
}


.title-counter{

	margin-left:33px;
	padding-top:14px;

}

.counter{

	margin-top:20px;
	display:flex;

}

.counter button{

	background:#2F3676;
	font-size:22px;
	color:#ffff;
	width:38px;
	height:38px;
	cursor:pointer;
	text-align:center;
	justify-content:center;
	margin:0px 5px;

}

.counter button:hover{
	
	background: #191847;

}


.counter input{
	
	width:50px;
	height:36px;
	color:#071723;
	font-family: Inter;
	font-weight:bold;
	font-size:12px;
	text-align:center;
	border-radius: 4px;
	background:#DDE3E9;
	border: 1px solid #2F3676;
}

.message{

	margin-left:33px;
	padding-top:22px;
}


.form-message{

	width:100%;
}

.form-message textarea{
	

	margin-top:10px;
	width:90%;
	height:92px;
	background: #DDE3E9;
	border: 1px solid #2F3676;
	resize:none;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #071723;
}

.button{
	
	margin-top:32px;
	width:100%;
	height:90px;
	background:#DDE3E9;
	display:flex;
	align-items:center;
	justify-content:flex-end;

}

#success{

	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: #00C57C;
	margin-right:10%;
	display:none;
}


.button input{
	
	height: 37px;
	width: 133px;
	display:flex;
	margin-right:20px;
	background: #2F3676;
	border-radius: 7px;
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	justify-content: center;
	cursor:pointer;

}

.button input:hover{
	
	background:#191847;
	
}


@media (min-width: 1024px) and (max-width: 1280px) {

.header-content .header-text{

	font-size:20px;

}

.header-content  .header-textFinal{

	font-size:20px;
}

.header-content .logo-content{

	margin-left:52%;
	margin-top:-18%;

}

.header-content .logo{

	width: auto !important;
	height:12%;

}

.content-body{

	width:550px;
	height:600px;
	background:#F2F2F2;

	}
  

}


@media (min-width: 768px) and (max-width: 1023px) {
  


.header-content .header-text{

	font-size:15px;

}

.header-content  .header-textFinal{

	font-size:15px;
}

.header-content .logo-content{

	margin-left:45%;
	margin-top:-18%;

}

.header-content .logo{

	width: auto !important;
	height:15%;

}

.content-body{

	width:400px;	
	height:600px;
	background:#F2F2F2;

	}
  
}


@media (min-width: 481px) and (max-width: 767px) {

.formulario .header{

	background:#2F3676;
	height:200px;
	max-width:100%;
	border-radius:0px 0px 60% 40%;
	overflow: hidden;

}


.header-content{
	
	margin-top:20px;
	margin-left:30px;



}
.header-content .header-text{

	color:#FFFFFF;
	font-size:12px;
	margin-top:5px;



}

.header-content  .header-textFinal{

	font-size:12px;
}

.header-content .logo-content{

	margin-left:45%;
	margin-top:-22%;

}

.header-content .logo{

	width: auto !important;
	overflow:hidden;
	height:15%;

}

.content-body{

	width:300px;	
	height:600px;
	background:#F2F2F2;

	}

  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {


.formulario .header{

	background:#2F3676;
	height:200px;
	max-width:100%;
	border-radius:0px 0px 60% 40%;
	overflow: hidden;

}


.header-content{
	
	margin-top:20px;
	margin-left:30px;



}
.header-content .header-text{

	color:#FFFFFF;
	font-size:12px;
	margin-top:5px;



}

.header-content  .header-textFinal{

	font-size:12px;
}

.header-content .logo-content{

	margin-left:45%;
	margin-top:-22%;

}

.header-content .logo{

	width: auto !important;
	overflow:hidden;
	height:15%;

}

.content-body{

	width:300px;	
	height:600px;
	background:#F2F2F2;

}

  
}